.card-deco{
    font-family: var(--ff-space_grotesk);
    color: var(--snow-white);
}

.card-front,
.card-back{
    max-width: 28rem;
    height: 15.5rem;
    border-radius: var(--radius-curve);
    color: var(--snow-white);
    background-color: var(--black-coral);
    position: relative;
    padding: 2rem;
}

.card-back{
    padding-top: 1rem;
}

.card-back li{
    max-width: 12rem;
    word-wrap: break-word;
    font-size: 0.8rem;
    margin-bottom: 0.3rem;
}

.card-back li span{
    color: var(--blue);
}

.card-back li address{
    color: var(--blue);
    margin-bottom: none;
}

.card-front{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    margin: 0 auto 32px auto;
    text-align: center;
}

.card-front img{
    width: 5rem;
    margin-block: auto;
    margin-inline: auto;
}

.card-back img{
    width: 80px;
    height: 80px;
    border-radius: var(--radius-curve);
    position: absolute;
    right: 2rem;
    top: 2rem;
    object-fit: cover;
    border: 1px solid var(--blue);
}

.card-back .user-id{
    position: absolute;
    right: 2.5rem;
    bottom: 7rem;
    font-size: 0.8rem;
    color: var(--blue);
}

.card-name{
    margin-bottom: 1rem;
    text-transform: uppercase;
    letter-spacing: 7px;
    margin-top: 0.5rem;
}

.card-front .card-name{
    font-size: var(--fs-4);
    margin-bottom: 0.5rem;
}

.card-address,.card-contact {
    font-weight: var(--fw-300);
    color: var(--blue);
}

.card-front hr{
    margin-bottom: 0.8rem;
    height: 1px;
    background-color: var(--blue);
}

.heading-one{
    color: var(--smoky-black);
    font-family: var(--ff-open_sans) !important;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: var(--fw-300);
    text-align: center;
    margin: -4rem auto 3rem auto;
}

